:root {
  --background: #242F41;
  --backgroundText: #151C28;
  --main-bag-color: rgb(255,255,255);
    --main-bag-color-grad: radial-gradient(circle, rgba(255,255,255,1) 16%, rgba(200,200,200,1) 79%, rgba(153,153,153,1) 94%);
  --font_color1: #fff;
  --font_color2: rgb(0, 0, 0); 
  --font_fam: 'Poppins', sans-serif;;  
}
.highContrast {
  --background: rgb(156, 156, 156);
  --backgroundText: rgba(255, 255, 255, 0.667);
  --font_color1: rgb(0, 0, 0);
  --font_color2: black; 
  --font_fam: 'Poppins', sans-serif;;  
}